
@{
    ViewData["Title"] = "Information";
}

<div class="container">
    <h2>Hello there!</h2>
    <p class="text-justify" style="font-size: 20px;">
        This simple web application was designed as a homework to a lecture at the <a href="https://academy.binary-studio.com">Binary Studio Academy</a>. The technologies I use are:
        <ul>
            <li style="font-size: 18px;"><a href="https://ru.wikipedia.org/wiki/C_Sharp">C#</a></li>
            <li style="font-size: 18px;"><a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1">ASP.NET MVC Core</a></li>
            <li style="font-size: 18px;"><a href="https://getbootstrap.com/">Bootstrap</a></li>
        </ul>
        <br />
        <a href="https://github.com/NeverN1ght/Academy2018_.NET_Homework2" class="btn btn-primary">Check it on Github!</a>
    </p>
    <img src="https://s.dou.ua/img/announces/2_1_6Y7TRbx_02W4dCl.png" class="img-rounded center-block img-responsive"/>
</div>

