.navigation {
    background-color: rgb(130, 54, 201);
}

.navigation a:hover {
    color: black;
}

.navigation-item {
    color: floralwhite;
}

.query-description {
    font-size: 16px;
    font-style: italic;
}

.query-item {
    font-size: 14px;
}

.profile-container {
    padding: 20px;
    border-radius: 8px;
}

.profile-ava {
    margin-left: 20px;
}

.profile-item {
    margin-left: 5px;
}

.line {
    color: rgb(130, 54, 201);
    background-color: rgb(130, 54, 201);
    border: none;
    height: 2px;
}

/*Validation errors highlighting*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
