@model Post

@{
    ViewData["Title"] = "Info";
}

<div class="container bg-info profile-container">
    <div class="row profile-item">
        <h2>"@Model.Title"</h2>
    </div>
    <div class="row profile-item text-justify">
        <h4>@Model.Body</h4>
    </div>
    <hr class="line"/>
    <div class="row profile-item">
        <h4>
            <img src="~/images/like.svg" width="25" height="25"/>
            @Model.Likes
        </h4>
    </div>
    <div class="row col-xs-5">
        <h4>
            <img src="~/images/conversation.svg" width="25" height="25" />
            Comments
        </h4>
        <ul class="list-group media-list">
            @foreach (var comment in Model.Comments)
            {
                <li class="list-group-item">
                    <p style="font-style: italic">@comment.Body</p>
                </li>
            }
        </ul>
    </div>
</div>


